@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}

.scroll-hidden::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

.week-calendar table tr td:first-child,
.week-calendar table tr th:first-child {
    background-color: #fafafa;
    color: #fafafa;
}
