@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 1px;
    height: 1px;
}

.scroll-hidden::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}
/* Mobile styles */
@media (max-width: 768px) {
    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    .scroll-hidden::-webkit-scrollbar {
        width: 0px;
        height: 0px;
    }
}
.week-calendar table tr td:first-child,
.week-calendar table tr th:first-child {
    background-color: #fafafa;
    color: #fafafa;
}

@layer utilities {
    .custom-no-after *::after {
        @apply hidden;
    }
}

@media (max-width: 576px) {
    .ant-picker-panels {
        flex-direction: column;
    }
}
.ant-input-number-handler-wrap {
    visibility: hidden;
}
